   <div class="credits text-center">
	 <p>
               User Management Application
     </p>
        <p>
               Copyright © Paruchuru Harish 2017. All rights reserved
        </p>
    </div> 
</body>
</html>